Computer_Vision/train
Computer_Vision/train.zip
Computer_Vision/sampleSubmission.csv
Computer_Vision/dogs-vs-cats.zip
Computer_Vision/test1.zip
Computer_Vision/cats_vs_dogs_small
Computer_Vision/convnet_from_scratch.keras
Computer_Vision/convnet_from_scratch_with_augmentation.keras
Computer_Vision/feature_extraction.keras
Computer_Vision/feature_extraction_with_data_augmentation.keras
Keras_DeepDive/train
Keras_DeepDive/validation
target
.idea
.vscode
.test-projects
__pycache__
.pixi
**/.pixi/
.build
.DS_store
site/
.cache
pytest-temp
/vendor
